body {
    margin: 0;
    color: white;
    background-color: #242424;
}

#root {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input {
    background-color: #242424;
    border-color: #06F663;
    border-radius: 100px;
    color: #FCFCFC;
    padding: 10px;
    margin: 4px;
    box-shadow: 6px 6px 0 black;
}

label {
    padding: 4px;
    margin: 4px;
    color: #FCFCFC;
}
